In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(style="whitegrid")
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns', None)
from scipy import stats
from sklearn.impute import KNNImputer as KNN

In [2]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [3]:
train.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [4]:
#train=train['IsHoliday'].astype('O')

In [5]:
train.isnull().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

In [6]:
numerical = [var for var in train.columns if train[var].dtype=='int64']

print('There are {} numerical variables\n'.format(len(numerical)))

print('The numerical variables are :\n\n', numerical)

There are 2 numerical variables

The numerical variables are :

 ['Store', 'Dept']

In [7]:
float = [var for var in train.columns if train[var].dtype=='float']

print('There are {} float variables\n'.format(len(float)))

print('The numerical variables are :\n\n', float)

There are 1 float variables

The numerical variables are :

 ['Weekly_Sales']

In [8]:
categorical = [var for var in train.columns if train[var].dtype=='O']

print('There are {} categorical variables\n'.format(len(categorical)))

print('The categorical variables are :\n\n', categorical)

There are 1 categorical variables

The categorical variables are :

 ['Date']

In [9]:
train[numerical].describe()

               Store           Dept
count  421570.000000  421570.000000
mean       22.200546      44.260317
std        12.785297      30.492054
min         1.000000       1.000000
25%        11.000000      18.000000
50%        22.000000      37.000000
75%        33.000000      74.000000
max        45.000000      99.000000

In [10]:
train[float].describe()

        Weekly_Sales
count  421570.000000
mean    15981.258123
std     22711.183519
min     -4988.940000
25%      2079.650000
50%      7612.030000
75%     20205.852500
max    693099.360000

In [11]:
train=train.drop(["Date"],axis=1)
train=train.drop(["IsHoliday"],axis=1)
a= train.drop(['Weekly_Sales'], axis=1)
b =train['Weekly_Sales']

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(a, b,test_size = 0.1, random_state = 0)

In [13]:
X_train.head()

        Store  Dept
32942       4    26
200911     21    25
127025     13    91
106874     11    92
411847     44    98

In [14]:
X_test.head()

        Store  Dept
233571     24    55
88992      10    11
367842     39    59
184359     19    60
26175       3    45

In [15]:
y_train.head()

32942     17180.67
200911    19574.19
127025    90456.81
106874    74578.34
411847     3363.89
Name: Weekly_Sales, dtype: float64

In [16]:
y_test.head()

233571     9526.04
88992     26393.68
367842      736.16
184359      422.40
26175         4.00
Name: Weekly_Sales, dtype: float64

In [17]:
# check the shape of X_train and X_test
X_train.shape, X_test.shape

((379413, 2), (42157, 2))

In [18]:
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)

In [19]:
cols = X_train.columns
## ScALING

In [20]:
cols

Index(['Store', 'Dept'], dtype='object')

In [22]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

In [23]:
X_train = pd.DataFrame(X_train, columns=[cols])
X_test = pd.DataFrame(X_test, columns=[cols])

In [24]:
X_train.head()

      Store      Dept
0 -0.818182 -0.196429
1 -0.045455 -0.214286
2 -0.409091  0.964286
3 -0.500000  0.982143
4  1.000000  1.089286

In [25]:
X_test.head()

      Store      Dept
0  0.090909  0.321429
1 -0.545455 -0.464286
2  0.772727  0.392857
3 -0.136364  0.410714
4 -0.863636  0.142857

In [33]:
# import Random Forest classifier

from sklearn.ensemble import RandomForestRegressor



# instantiate the classifier 

rfc = RandomForestRegressor(random_state=0)



# fit the model

rfc.fit(X_train, y_train)



# Predict the Test set results

y_pred = rfc.predict(X_test)

In [34]:
# mean squared error
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

45969048.589731805

In [35]:
mean_squared_error(y_test, y_pred, squared = False)

6780.047830932449

In [36]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9098169049807809

In [ ]:
# So here is the accuracy of the model.